

html body{
	background-color: rgb(213, 225, 239);
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30vh auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
  padding: 0 20px;
  color: hsl(218, 44%, 22%);
  /* margin: 10px 0; */
}

p{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
  color: hsl(216, 15%, 48%);
  margin-bottom: 20px;
}

.qr-code {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

.footer {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}